body{
    background-color: #FFFFFF;
}
.circulo {
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    opacity: 1;
    border-radius: 100%;
    position: relative;
    display: inline-block;
}
.circulo span {
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: #fff;
    top: 16px;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.circulo span:last-child {
    top: 21px;
}
.content {
    width: 528px;
    height: 475px;
    background-color: #fff;
    box-shadow: 0px 20px 30px #97B4D833;
    border-radius: 15px;
    opacity: 1;
    padding: 68px 34px 42px 46px;
}
.section-form h1{
    font: normal normal normal 50px/40px Raleway;
}
.section-form h6 {
    font: normal normal bold 24px/24px Raleway;
}
.section-form h1,
.section-form h6 {
    color: #fff;
}
.section-form span.span-title {
    font: normal normal bold 50px/40px Raleway;
    color: #F7324E;
}
form input {
    font: normal normal medium 14px/38px IBM Plex Sans;
}
.content-form-text {
    margin-top: 57px;
    font: normal normal medium 14px/20px IBM Plex Sans;
letter-spacing: -0.35px;
}
.form-check {
    margin-top: 12px;
}
.form-check label span{
    font: normal normal medium 13px/12px IBM Plex Sans;
}
small {
    display: block;
    margin-top: 3px;
    font: normal normal normal 10px/12px IBM Plex Sans;
    letter-spacing: -0.25px;
    color: #8C9091;
}
.button {
    background: #c40071; /* Old browsers */
    background: -moz-linear-gradient(left,  #c40071 0%, #f7324e 97%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #c40071 0%,#f7324e 97%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #c40071 0%,#f7324e 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c40071', endColorstr='#f7324e',GradientType=1 ); /* IE6-9 */
    padding: 12px 50.36px 11px 49.61px;
    font: normal normal 600 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    border-radius: 26px;
    margin-top: 53px;
    font-family: 'IBM Plex Sans', sans-serif;
}
.section-mobile h2 {
    font: normal normal bold 35px/35px Raleway;
    letter-spacing: 0px;
    color: #000030;
}
.section-mobile h2 span{
    font: normal normal bold 35px/35px Raleway;
    letter-spacing: 0px;
    color: #000030;
}
.section-mobile p {
    font: normal normal bold 16px/16px Raleway;
    color: #000030;
    margin-top: 35px;
}
.section-te-permite{
    font: normal normal bold 45px/50px Raleway;
    letter-spacing: 0px;
    color: #000030;
    opacity: 1;
}
.title-section-te-permite{
    font: normal normal bold 18px/18px Raleway;
}
.title-section-te-permite,
 .section-te-permite p{
    text-align: center;
    letter-spacing: 0px;
    color: #000030;
    opacity: 1;
}
p {
    font: normal normal normal 20px/20px Raleway;
}
.section-asi-se-logra {

}
.section-asi-se-logra h2{
    display: block;
    font: normal normal bold 45px/50px Raleway;
    letter-spacing: 0px;
    color: #000030;
    opacity: 1;
}
.footer {
    background-color: #F8F8F8;
}
.img-logo {
    max-width: 190px;
    margin-top: -28px;
    margin-left: 20px;
}
.data-inicio {
    background-image: url(../img/Background.png);
    padding-bottom: 5rem;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.img-app {
    max-width: 250px;
}
.img-permite {
    margin: 0 auto 1rem;
    display: block;
    height: 147px;
}
#myChart {
    width: 500px !important;
    height: 500px !important;
    margin: 3rem auto;
}
ul {
    margin:0;
    padding: 0;
    list-style: none;
}
ul li {
    font: normal normal bold 16px/16px Raleway;
    letter-spacing: 0px;
    opacity: 1;
}
li.red {
    color: #F7324E;
}
li.blue {
    color: #000030;
}
.img-logo-footer {
    max-width: 180px;
}
p.font- {
    font-size: 42px !important;
    line-height: 42px !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 300;
}
p.font- span {
    font-weight: bold !important;
}
.img-absolute {
    position: absolute;
}
.img1 {
    right: 25%;
}
.img2 {
    right: 0;
    top: 100px;
}
.img3 {
    right: 8%;
    top: 171px;
}
.img4 {
    width: 100px;
    left: 95px;
    top: 350px;
}
.img5 {
    width: 12px;
    left: 250px;
    bottom: 70px;
}
.img6 {
    left: 250px;
    width: 12px;
    bottom: 35px;
}
.img7 {
    left: 250px;
    width: 12px;
    bottom: 0px;
}
.img8 {
    left: 254px;
    bottom: -45px;
}
.img9 {
    right: 0;
    bottom: 180px;
    width: 80px;
}
.img10 {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20px;
}
.img11 {
    right: 60px;
    bottom: 10px;
}
.img12 {
    right: 310px;
    top: 130px;
    width: 8px;
}
.img13 {
    left: 297px;
    top: 250px;
}
.img14 {
    top: 250px;
    left: 48%;
    width: 80px;
}
.img15 {
    left: 100px;
}
.img16 {
    left: 30%;
}
.img17 {
    right: 300px;
    width: 150px;
}
span.scroll-top {
    position: fixed;
    z-index: 100;
    bottom: 120px;
    transform: rotate(-90deg);
    color: #000030;
    font-family: 'Raleway', sans-serif !important;
    font-weight: bold;
    cursor: pointer;
    display: none;
}
span.scroll-top::before {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #000003;
    position: absolute;
    bottom: 11px;
    left: -55px;
}
@media (max-width: 750px){
    .img-absolute {
        display: none;
    }
    .content {
        width: 100%;
        height: auto;
    }
    .section-form h1, .section-form h6 {
        color: #000003;
    }
}